body {
    background-image: url("images/overlay.png"), linear-gradient(45deg, var(--green-bright) 20%, var(--brown) 90%);
}

.content img {
    padding: 0.5rem;
    width: 30%;
    border-radius: 100%;
    align-self: center;
}

.content p {
    padding: 4rem;
    text-align: center;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
}
