body {
    background-image: url("images/overlay.png"), linear-gradient(45deg, var(--pink) 20%, var(--blue) 90%);
}

.content .images-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4rem;
    padding: 2rem;
}

.content .images-section .image-section img{
    width: 30rem;
    padding: 1rem;
    border: 2px solid var(--grey-bright);
    transition: ease-in-out background-color 200ms 100ms;
}

.content .images-section .image-section img:hover {
    background-color: var(--grey-bright);
}

.content .images-section .image-section p {
    text-align: center;
    align-self: center;
}

@media screen and (max-width: 1500px) {

    .content .content-title {
        margin: 0;
        width: 95%;
        font-size: 1.5rem;
        text-align: center;
    }

    .content .images-section {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .content .images-section .image-section {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 800px) {
    .content .content-title {
        margin: 0;
        width: 95%;
        font-size: 1.1rem;
        text-align: center;
    }

    .content .images-section .image-section img {
        width: 25rem;
    }
}

